.topLeftSlideOut
  padding: 10px
  width: 1000px
  background: #FFF
  border: 1px solid #29216d

.topLeftSlideOut > a
  left: 0px

.topLeftSlideOut ul
  padding: 10px 0
  min-height: 90px

.topLeftSlideOut ul > li
  list-style: none
  margin: 0 0 0 10px
  font-size: 13px

.bottomLeftSlideOut
  padding: 20px
  width: 130px
  background: #FFF
  border: 1px solid #29216d

.bottomLeftSlideOut ul
  padding: 10px 0

.bottomLeftSlideOut ul > li
  list-style: none
  font-size: 12px
  margin: 0 0 0 6px

div.bottomLeftSlideOut ul > li > div > a
  float: right
  font-size: 14px

div.bottomLeftSlideOut ul > li > div
  width: 100%
  height: 14px

.clear
  clear: both
  