$radius: 14px
$shadow: 0px 0px 8px 1px #c4c4c4

section
  width: 980px 
  margin: 20px auto


section#addressForm, section#franchiseForm, section#recentOrders
  margin: 0px auto
  background: white
  border: 1px #aeaeae solid
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow
  
section#instructions
  height: 250px
  > ul
    > li
      width: 100%
      height: 250px
      > div.orderSteps.container
        width: 820px
        height: 220px
        margin: auto
        padding: 15px 0


section#featured 
  height: 100px
  > div.container
    margin: auto
    width: 930px
    padding: 0px 0
    position: relative
    top: -12px

section#company
  height: 300px
  div
    &.overview.container
      padding: 14px 0
      font-size: 14px
    &.promotion.container
      > img
        position: relative
        left: -40px
    &.companyStory.container
      padding: 20px 20px
      font-family: helvetica
  > ul > li
    &:nth-child(1)
      height: 300px
      width: 45%
      list-style: none
      float: left
    &:nth-child(2)
      width: 54%
      list-style: none
      float: left
  div
    &.title.text
      font-size: 24px
      text-align: left
      padding: 0 0 0 10px
      font-weight: bold
    &.content.text
      font-size: 13px
      padding: 10px 10px 0 10px

section#newProduct
  height: 258px
  background: #FFF image-url('mockup/checker_bg.png')
  -moz-box-shadow: 0px 0px 2px 2px #eae5d3
  -webkit-box-shadow: 0px 0px 2px 2px #eae5d3
  box-shadow: 0px 0px 2px 2px #eae5d3
  > ul > li
    &:nth-child(1)
      width: 27%
      height: 258px
      list-style: none
      float: left
      padding: 21px 0
      background: image-url('mockup/divider.png') no-repeat 240px 0
      > ul.searchCity
        list-style: none
        > div.tag
          background: image-url('mockup/tag_browse_by_city_header.png') no-repeat 0 6px
          padding: 12px 20px 22px 28px
          color: white
          font-size: 20px
          font-family: arial
          position: relative
          left: -6px
          font-weight: bold
        > li
          padding: 4px 30px
          font-family: arial
          color: #bb8636
          text-decoration: underline
    &:nth-child(2)
      background: image-url('mockup/divider.png') no-repeat 356px 0
      width: 39%
      list-style: none
      float: left
      margin: 0 auto
      img
        margin: 22px 20px 0 48px
      button
        background: image-url('mockup/enter_contest.png') no-repeat
        width: 200px
        height: 60px
        border: 0px
        margin: 0 0 0 88px
        position: relative
        top: -16px
    &:nth-child(3)
      width: 32%
      list-style: none
      float: left
      padding: 17px 0 17px 4px
      > div.newRestaurants
        > div.tag
          background: image-url('mockup/tag_takeaways_header.png') no-repeat 0 6px
          position: relative
          left: 20px
          padding: 12px 10px 12px 45px
          color: white
          font-size: 20px
          font-family: arial
          font-weight: bold