.guider {
  background: #FFF;
  font-family: arial;
  position: absolute;
  outline: none;
  z-index: 100000005 !important;
  padding: 0px 12px;
  width: 500px;

  /* Shadow */
  -moz-box-shadow: 0 0px 8px #111;
  -webkit-box-shadow: 0 0px 8px #111;
  box-shadow: 0 0px 8px #111;
  /* End shadow */
  
  /* Rounded corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* End rounded corners */
}

.guider_buttons {
  /*background: #ECECEC;
  background: -moz-linear-gradient(top, #ECECEC 0%, #FFF 50%, #FFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECECEC), color-stop(50%,#FFF), color-stop(100%,#FFF));*/
  height: 36px;
  position: relative;
  width: 100%;
}

.guider_content {
  position: relative;
}

.guider_content h1 {
  color: #1054AA;
  font-size: 21px;
}

.guider_content p {
  color: #333;
  font-size: 13px;
}

.guider_button {
  background-color: #4A95E0; /* overruled by background gradient, in browsers where they exist */
  background: -moz-linear-gradient(top, #5CA9FF 0%, #3D79C3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5CA9FF), color-stop(100%, #3D79C3));
  border: solid 1px #4B5D7E;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 6px;
  min-width: 40px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  /* Rounded corners */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* End rounded corners */
}

#guider_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.5;
  -ms-filter:'alpha(opacity=50)';
  filter: alpha(opacity=50)
}

.guider_arrow {
  width: 42px;
  height: 42px;
  position: absolute;
  display: none;
  background-image: image-url("guider_arrows.png");
  background-repeat: no-repeat;
  z-index: 100000006 !important;
}

.guider_arrow_right {
  display: block;
  background-position: 0px 0px;
  right: -42px;
}
.guider_arrow_down {
  display: block;
  background-position: 0px -42px;
  bottom: -42px;
}
.guider_arrow_up {
  display: block;
  background-position: 0px -126px;
  top: -42px;
}
.guider_arrow_left {
  display: block;
  background-position: 0px -84px;
  left: -42px;
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 992px; //896px;
/*  padding: 72px 48px 84px;*/
  margin:auto;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		//padding: 48px 28px 60px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		//padding: 48px 34px 60px;
	}
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		//padding: 36px 22px 48px;
	}
	
}
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/
/* line 19, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm {
  min-height: 240px;
}
/* line 21, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.container {
  margin: auto;
  width: 535px;
}
/* line 24, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.overview.container {
  padding: 14px 0;
  font-size: 14px;
}
/* line 27, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul {
  margin: auto;
  width: 535px;
}
/* line 30, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container {
  padding-top: 20px;
}
/* line 32, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li {
  list-style: none;
  float: left;
  width: 88px;
  height: 96px;
}
/* line 37, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li:hover {
  cursor: pointer;
}
/* line 39, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image {
  padding: 0px 42px 60px 42px;
}
/* line 41, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house {
  margin-left: 4px;
  padding: 0px 40px 60px 40px;
  background: url(/assets/mockup/icons-sprite.png) 5px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 45, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment {
  background: url(/assets/mockup/icons-sprite.png) -77px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 47, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business {
  background: url(/assets/mockup/icons-sprite.png) -159px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 49, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel {
  background: url(/assets/mockup/icons-sprite.png) -241px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 51, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus {
  background: url(/assets/mockup/icons-sprite.png) -323px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 53, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other {
  background: url(/assets/mockup/icons-sprite.png) -405px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 55, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container {
  padding: 20px 0 0 0;
}
/* line 57, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li {
  list-style: none;
  float: left;
}
/* line 61, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form {
  width: 535px;
  padding: 10px 0 30px 0;
  margin: auto;
}
/* line 65, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form > div {
  width: 535px;
  height: 30px;
}
/* line 68, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form label {
  width: 400px;
  height: 30px;
}
/* line 71, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form div > input {
  width: 260px;
  height: 40px;
  float: right;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 24px;
  background: url(/assets/mockup/address_form_input-bg.png) repeat-x;
  border: 1px solid #b1b1af;
}
/* line 19, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm {
  min-height: 240px;
}
/* line 21, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.container {
  margin: auto;
  width: 535px;
}
/* line 24, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.overview.container {
  padding: 14px 0;
  font-size: 14px;
}
/* line 27, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul {
  margin: auto;
  width: 535px;
}
/* line 30, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container {
  padding-top: 20px;
}
/* line 32, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li {
  list-style: none;
  float: left;
  width: 88px;
  height: 96px;
}
/* line 37, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li:hover {
  cursor: pointer;
}
/* line 39, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image {
  padding: 0px 42px 60px 42px;
}
/* line 41, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house {
  margin-left: 4px;
  padding: 0px 40px 60px 40px;
  background: url(/assets/mockup/icons-sprite.png) 5px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 45, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment {
  background: url(/assets/mockup/icons-sprite.png) -77px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 47, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business {
  background: url(/assets/mockup/icons-sprite.png) -159px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 49, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel {
  background: url(/assets/mockup/icons-sprite.png) -241px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 51, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus {
  background: url(/assets/mockup/icons-sprite.png) -323px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 53, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other {
  background: url(/assets/mockup/icons-sprite.png) -405px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other:hover {
  background: url(/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other.selected {
  background: url(/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 55, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container {
  padding: 20px 0 0 0;
}
/* line 57, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li {
  list-style: none;
  float: left;
}
/* line 61, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form {
  width: 535px;
  padding: 10px 0 30px 0;
  margin: auto;
}
/* line 65, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form > div {
  width: 535px;
  height: 30px;
}
/* line 68, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form label {
  width: 400px;
  height: 30px;
}
/* line 71, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form div > input {
  width: 260px;
  height: 40px;
  float: right;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 24px;
  background: url(/assets/mockup/address_form_input-bg.png) repeat-x;
  border: 1px solid #b1b1af;
}
/* line 1, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut {
  padding: 10px;
  width: 1000px;
  background: white;
  border: 1px solid #29216d;
}

/* line 7, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut > a {
  left: 0px;
}

/* line 10, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut ul {
  padding: 10px 0;
  min-height: 90px;
}

/* line 14, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut ul > li {
  list-style: none;
  margin: 0 0 0 10px;
  font-size: 13px;
}

/* line 19, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.bottomLeftSlideOut {
  padding: 20px;
  width: 130px;
  background: white;
  border: 1px solid #29216d;
}

/* line 25, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.bottomLeftSlideOut ul {
  padding: 10px 0;
}

/* line 28, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.bottomLeftSlideOut ul > li {
  list-style: none;
  font-size: 12px;
  margin: 0 0 0 6px;
}

/* line 33, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
div.bottomLeftSlideOut ul > li > div > a {
  float: right;
  font-size: 14px;
}

/* line 37, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
div.bottomLeftSlideOut ul > li > div {
  width: 100%;
  height: 14px;
}

/* line 41, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.clear {
  clear: both;
}
/* line 4, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section {
  width: 980px;
  background: white;
  border: 1px #aeaeae solid;
  margin: 20px auto;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 8px 1px #c4c4c4;
  -moz-box-shadow: 0px 0px 8px 1px #c4c4c4;
  box-shadow: 0px 0px 8px 1px #c4c4c4;
}

/* line 16, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#addressForm {
  margin: 0px auto;
}
/* line 1, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body {
  background: white url(/assets/mockup/home_header-bg.png) repeat-x;
}
/* line 3, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header {
  width: 980px;
  height: 208px;
  margin: auto;
}
/* line 8, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li {
  height: 208px;
  border-right: 1px solid #aeaeae;
  list-style: none;
  float: left;
}
/* line 13, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(1) {
  width: 23.3%;
}
/* line 15, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(1) > img {
  margin-top: 20px;
}
/* line 17, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(2) {
  width: 53.2%;
}
/* line 19, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(3) {
  width: 23.3%;
}
/* line 22, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body section > ul {
  border-bottom: 1px solid #aeaeae;
}
/* line 24, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body section > ul > li {
  border-right: 1px solid #aeaeae;
  list-style: none;
  float: left;
}

/* line 28, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.userLinks {
  float: right;
  height: 30px;
  padding: 14px;
}

/* line 32, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
div.chatButton {
  float: right;
  top: 6px;
  right: 63px;
  position: relative;
  clear: both;
}

/* line 38, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.orderTabs {
  list-style: none;
  position: relative;
  clear: both;
  padding-top: 155px;
  margin: auto;
  width: 434px;
  height: 50px;
}
/* line 46, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.orderTabs > li {
  float: left;
  margin: 0px 2px;
}

/* line 49, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
pre {
  font-family: Helvetica;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: o-pre-wrap;
}

/* line 54, /Users/jonmc12/Desktop/Code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
.l-Scalar-Plain {
  color: #aeaeae;
}
