%section#company
  %ul
    %li
      .promotion.container
        %img{ :alt => "", :src => "#{asset_path 'mockup/girl_couch.png'}" }
    %li
      .companyStory.container
        .title.text The Story of Mr Delivery
        .content.text
          Nam congue venenatis odio, feugiat pharetra lorem molestie quis. Donec diam turpis, consectetur a pulvinar pretium, porttitor a diam.
          Phasellus aliquam urna ipsum. Praesent vehicula risus ut ante tincidunt dapibus. Mauris sed turpis at erat ornare egestas in in tellus. Vestibulum suscipit tincidunt lectus, vel dapibus augue eleifend a.
%section#instructions
  %ul
    %li
      .orderSteps.container
        %img{ :alt => "", :src => "#{asset_path 'mockup/how-it-works.png'}" }
