<style>
  #featured > div.container {margin:auto;width:760px;padding:20px 0;}
  section#featured { height:200px;}
</style>


<section id="featured">  
  <div class="featuredRestaurants container"><img src="<%= asset_path 'mockup/restaurant_slider.png' %>" alt="" /></div>
</section>