<style>
  div.overview.container {padding:14px 0;font-size:14px;}
</style>

<section id="franchiseForm" style="display:none;">
  <!-- Address Input -->
  <!-- Zip Input -->
  <!-- Building Input -->
  
  <div class="overview container"><span>Please select your city:</span></div>
  <div class="buildingIcons container"><img src="<%= asset_path 'mockup/form_building_icons.png' %>" alt="" /></div>
  <div class="addressInput container"><img src="<%= asset_path 'mockup/form_address_input.png' %>" alt="" /></div>
  <div class="zipInput container"><img src="<%= asset_path 'mockup/form_zip_input.png' %>" alt="" /></div>
  
</section>