%section#menuHeader
  %ul
    %li#restaurantLogo
      %img{:alt => "", :src =>"#{ asset_path 'mockup/menu_logo.png'}"}/
    %li#restaurantInfo
      %img{:alt => "", :src => "#{asset_path 'mockup/menu_info.png'}"}/
    %li.menuTab.container
      %div
      %div
        %ul
          %li#menuTab
            %img{:alt => "", :src => "#{asset_path 'mockup/menu_tab.png'}"}/
          %li#menuTabInfo
            %img{:alt => "", :src => "#{asset_path 'mockup/menu_tab_info.png'}"}/
