<style type="text/css">
  section#menuHeader {height:100px;}
  section#menuHeader li#restaurantLogo { width:14%;list-style:none;float:left; }
  section#menuHeader li#restaurantLogo img { padding:4px; }
  section#menuHeader li#restaurantInfo { width:32%;list-style:none;float:left; }
  section#menuHeader li#restaurantInfo img { padding:10px; }
  section#menuHeader li.menuTab.container { width:50%;list-style:none;float:left; }
  section#menuHeader li.menuTab.container ul { margin:61px 0 0 100px; }
  section#menuHeader li.menuTab.container ul > li { list-style:none;float:left; }
  
</style>

<section id="menuHeader">
  <ul>
    <li id="restaurantLogo">
      <img src="<%= asset_path 'mockup/menu_logo.png' %>" alt="" />
    </li>
    <li id="restaurantInfo">
      <img src="<%= asset_path 'mockup/menu_info.png' %>" alt="" />
    </li>
    <li class="menuTab container">
      <div>
        
      </div>
      <div>
        <ul>
          <li id="menuTab"><img src="<%= asset_path 'mockup/menu_tab.png' %>" alt="" /></li>
          <li id="menuTabInfo"><img src="<%= asset_path 'mockup/menu_tab_info.png' %>" alt="" /></li>
        </ul>        
      </div>
    </li>
  </ul>
</section>