%section#newProduct
  %ul
    %li
      .searchCity.container
        %img{:alt => "", :src => "#{asset_path 'mockup/browse_by_city_header.png'}"}/
    %li
      .ipadContest.container
        %img{:alt => "", :src => "#{asset_path 'mockup/ipad_contest_button.png'}"}/
    %li
      .newRestaurants.container
        %img{:alt => "", :src => "#{asset_path 'mockup/takeaways_header.png'}"}/
