%section#newProduct
  %ul
    %li
      %ul.searchCity.container
        .tag
          Browse by City
        %li Austin (30)
        %li Bloomington (24)
        %li Boston (28)
        %li Berkeley (24)
        %li Stanford (32)
        
    %li
      .ipadContest.container
        %img{:alt => "", :src => "#{asset_path 'mockup/ipad_contest_button.png'}"}/
        %button
    %li
      %ul.newRestaurants.container
        .tag
          Takeaways added today
        %li
          %ul
            %li 
              %a Austin Java
              .inCity in Austin
            %li 
              %a Thai Passion
              .inCity in Austin
            %li 
              %a TGI Fridays
              .inCity in Bloomington
            %li 
              %a Panda Express
              .inCity in Bloomington
        %li
          %ul
            %li 
              %a Carnival's
              .inCity in Madison
            %li 
              %a El Pastor
              .inCity in Madison
            %li 
              %a Rod's Place
              .inCity in Ann Arbor
            %li 
              %a Subway
              .inCity in Ann Arbor