%section#newProduct
  %ul
    %li
      %ul.searchCity.container
        .tag
          Browse by City
        %li Austin (30)
        %li Bloomington (24)
        %li Boston (28)
        %li Berkeley (24)
        %li Stanford (32)
        
    %li
      .ipadContest.container
        %img{:alt => "", :src => "#{asset_path 'mockup/ipad_contest_button.png'}"}/
        %button
    %li
      .newRestaurants.container
        .tag
          Takeaways added today