<style type="text/css">

</style>

<section id="newProduct">
  <ul>
    <li>
      <div class="searchCity container"><img src="<%= asset_path 'mockup/browse_by_city_header.png' %>" alt="" /></div>
    </li>
    <li>
      <div class="ipadContest container"><img src="<%= asset_path 'mockup/ipad_contest_button.png' %>" alt="" /></div>
    </li>
    <li>
      <div class="newRestaurants container"><img src="<%= asset_path 'mockup/takeaways_header.png' %>" alt="" /></div>
    </li>
  </ul>
</section>