<style>
  div.overview.container {padding:14px 0;font-size:14px;}
</style>

<section id="recentOrders" style="display:none;">
  <div class="header container"><img src="<%= asset_path 'mockup/recent_orders_header.png' %>" alt="" /></div>
  <ul class="recentOrders">
    <li class="recentOrder container"><img src="<%= asset_path 'mockup/recent_order_sample.png' %>" alt="" /></li>
    <li class="recentOrder container"><img src="<%= asset_path 'mockup/recent_order_sample.png' %>" alt="" /></li>
    <li class="recentOrder container"><img src="<%= asset_path 'mockup/recent_order_sample.png' %>" alt="" /></li>
  </ul>

    
  
</section>