:css
  div.overview.container {padding:14px 0;font-size:14px;}
%section#recentOrders{:style => "display:none;"}
  .header.container
    %img{:alt => "", :src => "#{asset_path 'mockup/recent_orders_header.png'}"}/
  %ul.recentOrders
    %li.recentOrder.container
      %img{:alt => "", :src => "#{asset_path 'mockup/recent_order_sample.png'}"}/
    %li.recentOrder.container
      %img{:alt => "", :src => "#{asset_path 'mockup/recent_order_sample.png'}"}/
    %li.recentOrder.container
      %img{:alt => "", :src => "#{asset_path 'mockup/recent_order_sample.png'}"}/
