<style type="text/css">
  section#restaurantInfo {height:820px;}
  section#restaurantInfo li#restaurantDescription { width:65%;list-style:none;float:left; }
  li#restaurantMenu > div {}
  li#restaurantMenu > div > img {padding:0 25px;}
  section#restaurantInfo li#orderingInfo { width:34%;list-style:none;float:left; }
</style>

<section id="restaurantInfo">
  <ul>
    <li id="restaurantDescription">
      <div><img src="<%= asset_path 'mockup/menu_restaurant_description.png' %>" alt="" /></div>
      <div><img src="<%= asset_path 'mockup/menu_restaurant_about.png' %>" alt="" /></div>
    </li>
    <li id="orderingInfo">
      <div><img src="<%= asset_path 'mockup/menu_restaurant_hours.png' %>" alt="" /></div>
      <div><img src="<%= asset_path 'mockup/menu_restaurant_ordering_info.png' %>" alt="" /></div>
    </li>
  </ul>
</section>