%section#restaurantSearchHeader
  %ul
    %li#cuisineSearch
      %img{:alt => "", :src => "#{asset_path 'mockup/cuisine_search.png'}"}/
    %li#cuisineFacets
      %img{:alt => "", :src => "#{asset_path 'mockup/cuisine_facets.png'}"}/
