%section#restaurantInfo
  %ul
    %li#restaurantDescription
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_description.png'}"}/
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_about.png'}"}/
    %li#orderingInfo
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_hours.png'}"}/
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_ordering_info.png'}"}/
