<style type="text/css">
  section#restaurantSearchHeader {height:100px;}
  section#restaurantSearchHeader li#cuisineSearch { width:65%;list-style:none;float:left;}
  section#restaurantSearchHeader li#cuisineSearch img { padding:11px 18px;}
  section#restaurantSearchHeader li#cuisineFacets { width:29%;list-style:none;float:left;}
  section#restaurantSearchHeader li#cuisineFacets img {padding:10px 0px;}
</style>

<section id="restaurantSearchHeader">
  <ul>
    <li id="cuisineSearch">
      <img src="<%= asset_path 'mockup/cuisine_search.png' %>" alt="" />
    </li>
    <li id="cuisineFacets">
      <img src="<%= asset_path 'mockup/cuisine_facets.png' %>" alt="" />
    </li>
  </ul>
</section>