/* */
/* line 1, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider {
  background: white;
  font-family: arial;
  position: absolute;
  outline: none;
  z-index: 100000005 !important;
  padding: 0px 12px;
  width: 500px;
  /* Shadow */
  -moz-box-shadow: 0 0px 8px #111111;
  -webkit-box-shadow: 0 0px 8px #111111;
  box-shadow: 0 0px 8px #111111;
  /* End shadow */
  /* Rounded corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* End rounded corners */
}

/* line 20, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_buttons {
  /*background: #ECECEC;
   *background: -moz-linear-gradient(top, #ECECEC 0%, #FFF 50%, #FFF 100%);
   *background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECECEC), color-stop(50%,#FFF), color-stop(100%,#FFF)); */
  height: 36px;
  position: relative;
  width: 100%;
}

/* line 28, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_content {
  position: relative;
}
/* line 30, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_content h1 {
  color: #1054aa;
  font-size: 21px;
}
/* line 33, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_content p {
  color: #333333;
  font-size: 13px;
}

/* line 37, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_button {
  background-color: #4a95e0;
  /* overruled by background gradient, in browsers where they exist */
  background: -moz-linear-gradient(top, #5ca9ff 0%, #3d79c3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ca9ff), color-stop(100%, #3d79c3));
  border: solid 1px #4b5d7e;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 6px;
  min-width: 40px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  /* Rounded corners */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* End rounded corners */
}

/* line 61, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
#guider_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=50);
}

/* line 72, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_arrow {
  width: 42px;
  height: 42px;
  position: absolute;
  display: none;
  background-image: url(/../../generated/assets/guider_arrows.png);
  background-repeat: no-repeat;
  z-index: 100000006 !important;
}

/* line 81, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_arrow_right {
  display: block;
  background-position: 0px 0px;
  right: -42px;
}

/* line 86, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_arrow_down {
  display: block;
  background-position: 0px -42px;
  bottom: -42px;
}

/* line 91, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_arrow_up {
  display: block;
  background-position: 0px -126px;
  top: -42px;
}

/* line 96, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/guider.css.sass */
.guider_arrow_left {
  display: block;
  background-position: 0px -84px;
  left: -42px;
}

/* line 1, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
/* line 7, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .popup {
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .content {
  display: table;
  width: 370px;
  padding: 10px;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 25, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .content > p:first-child {
  margin-top: 0;
}
/* line 27, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .content > p:last-child {
  margin-bottom: 0;
}
/* line 29, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  background: white;
}
/* line 35, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .close img {
  opacity: 0.3;
}
/* line 37, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .close:hover img {
  opacity: 1;
}
/* line 39, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox .loading, #facebox .image {
  text-align: center;
}
/* line 41, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox img {
  border: 0;
  margin: 0;
}

/* line 45, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 52, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
.facebox_hide {
  z-index: -100;
}

/* line 55, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/facebox.css.sass */
.facebox_overlayBG {
  background-color: black;
  z-index: 99;
}

/*	Less Framework 4
 *	http://lessframework.com
 *	by Joni Korpi
 *	License: http://opensource.org/licenses/mit-license.php */
/*	Resets
 *	------ */
/* line 9, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
article, aside, canvas {
  display: block;
}

/* line 17, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
figure {
  display: block;
}
/* line 19, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
figure img {
  display: block;
}

/* line 22, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block;
}

/* line 25, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
a img {
  border: 0;
}

/*	Typography presets
 *	------------------ */
/* line 31, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

/* line 36, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
.huge, h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

/* line 41, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
.large, h2 {
  font-size: 42px;
  line-height: 48px;
}

/* line 45, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
.bigger, h3 {
  font-size: 26px;
  line-height: 36px;
}

/* line 49, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
.big, h4 {
  font-size: 22px;
  line-height: 30px;
}

/* line 53, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
body {
  font: 16px/24px Georgia, serif;
}

/* line 56, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
.small, small {
  font-size: 13px;
  line-height: 18px;
}

/* Selection colours (easy to forget) */
/* line 62, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
::selection {
  background: #ffff9e;
}

/* line 64, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
::-moz-selection {
  background: #ffff9e;
}

/* line 68, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
img::selection, img:-moz-selection {
  background: transparent;
}

/* line 71, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
body {
  -webkit-tap-highlight-color: #ffff9e;
  width: 992px;
  /* 896px */
  /*  padding: 72px 48px 84px */
  margin: auto;
  background: #e8e8e8;
  color: #3c3c3c;
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */
}

/*		Default Layout: 992px.
 *		Gutters: 24px.
 *		Outer margins: 48px.
 *		Leftover space for scrollbars @1024px: 32px.
 *-------------------------------------------------------------------------------
 *cols    1     2      3      4      5      6      7      8      9      10
 *px      68    160    252    344    436    528    620    712    804    896 */
/*		Tablet Layout: 768px.
 *		Gutters: 24px.
 *		Outer margins: 28px.
 *		Inherits styles from: Default Layout.
 *-----------------------------------------------------------------
 *cols    1     2      3      4      5      6      7      8
 *px      68    160    252    344    436    528    620    712 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 99, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
  body {
    width: 712px;
  }
}
/*		Mobile Layout: 320px.
 *		Gutters: 24px.
 *		Outer margins: 34px.
 *		Inherits styles from: Default Layout.
 *---------------------------------------------
 *cols    1     2      3
 *px      68    160    252 */
@media only screen and (max-width: 767px) {
  /* line 112, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
  body {
    width: 252px;
  }
}
/*		Wide Mobile Layout: 480px.
 *		Gutters: 24px.
 *		Outer margins: 22px.
 *		Inherits styles from: Default Layout, Mobile Layout.
 *------------------------------------------------------------
 *cols    1     2      3      4      5
 *px      68    160    252    344    436 */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 125, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/less.css.sass */
  body {
    width: 436px;
  }
}
/* Heads-Up Grid
 * Simple HTML + CSS grid overlay for web design and development.
 *
 * Files: hugrid.css, hugrid.js, example.html
 * 
 * Example and documentation at: http://bohemianalps.com/tools/grid
 * 
 * Shurane, thanks for your help! https://github.com/shurane
 * 
 * Copyright (c) 2011 Jason Simanek
 *
 * Version: 1.5 (09/03/2011)
 * Requires: jQuery v1.6+
 *
 * Licensed under the GPL license:
 *   http://www.gnu.org/licenses/gpl.html */
/* Default Heads-Up Grid Properties - These will be overwritten by the values entered in the document.ready function. */
/* line 21, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid {
  width: 960px;
  /* width of webpage */
  margin-left: -480px;
  /* to center the grid, set half of webpage width as negative value */
}
/* line 26, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div {
  margin-left: 140px;
  /* width of column */
  width: 24px;
  /* width of column gutter */
}
/* line 31, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div div {
  border-color: #ff00eb;
  /* color of grid line */
  border-style: solid;
  /* style of grid line (dotted, dashed, solid) */
  opacity: 0.3;
  /*opacity of grid line */
}
/* line 38, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div:hover {
  background-color: #36f3ff;
  /* color of gutter on :hover */
}
/* line 41, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div.mline {
  border-color: #aa82ff;
  /* color of margin line */
  border-style: solid;
  /* style of margin lines (dotted, dashed, solid) */
}

/* Default Heads-Up Grid Styles - These styles allow you to change the color and style of the lines that make the Heads-Up Grid */
/* line 49, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridRows {
  border-color: #aa82ff;
  /* color of top margin line */
  border-style: solid;
  /* style of top margin line */
}
/* line 54, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridRows div.lineB {
  border-color: #5dff35;
  /* color of row line */
  border-style: solid;
  /* style of row line */
  opacity: 0.3;
  /*opacity of row line */
}
/* line 61, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridRows div.lineB:hover {
  border-color: #5dff35;
  /* color of row line on :hover */
  border-style: solid;
  /* style of row line on :hover */
  opacity: 1;
  /*opacity of row line on :hover */
}

/* ------------------------------------------------------------------------- */
/* Fixed Styles (No need to alter the below styles for standard grid needs.) */
/* line 72, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 50%;
  height: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  cursor: crosshair;
}
/* line 83, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div {
  display: block;
  float: left;
  position: relative;
  top: 0;
  border-width: 0;
}
/* line 89, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div div {
  margin: 0;
  width: 0;
}
/* line 92, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div div.lineL {
  float: left;
  height: 10000px;
  border-width: 0 0 0 1px;
}
/* line 96, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div div.lineR {
  float: right;
  height: 10000px;
  border-width: 0 1px 0 0;
}
/* line 100, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div.mline {
  margin: 0 0 0 -1px;
  width: 0;
  height: 100000px;
}
/* line 104, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div.mlineL {
  border-width: 0 1px 0 0;
}
/* line 106, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div.mlineR {
  float: right;
  margin-right: -1px;
  border-width: 0 0 0 1px;
}
/* line 110, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div:hover {
  opacity: 0.5;
}
/* line 113, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugrid div:hover div.lineL, #hugrid div:hover div.lineR {
  border-style: solid;
  opacity: 1;
}

/* line 117, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridRows {
  position: absolute;
  z-index: 90000;
  top: -1px;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border-width: 1px 0 0 0;
  cursor: crosshair;
}
/* line 128, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridRows div {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
}
/* line 134, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridRows div div.lineB {
  margin: 0;
  border-width: 0 0 1px 0;
}

/* line 138, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridUX {
  display: block;
  position: fixed;
  z-index: 200000;
  top: 0;
  right: 0;
  margin: 0;
  padding: 4px;
  font: bold 11px/100% Arial, sans-serif;
  color: #aaaaaa;
  text-align: center;
}
/* line 149, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridUX div#hugridButtonBkgd {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 0 0 0 16px;
  opacity: 0.3;
}
/* line 159, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridUX button#hugridButton {
  cursor: pointer;
  position: relative;
  width: 28px;
  margin: 0;
  padding: 8px 2px;
  background-color: #5dff35;
  border-radius: 40px;
  border-width: 0;
  box-shadow: 0 0 2px #666666;
  outline: 0;
  font: bold 11px/100% Arial, sans-serif;
}
/* line 171, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridUX button#hugridButton::-moz-focus-inner {
  border: 0;
}
/* line 173, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridUX button#hugridButton.buttonisoff {
  background: none;
  box-shadow: none;
}
/* line 176, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugridUX button#hugridButton.buttonisoff:hover {
  background-color: #999999;
}

/* line 179, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/vendor/hugrid.css.sass */
#hugbuttonON, #hugbuttonOFF {
  color: #333333;
}

/* line 19, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm {
  margin: 0px auto;
  min-height: 240px;
}
/* line 22, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.container {
  margin: auto;
  width: 535px;
}
/* line 25, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.overview.container {
  padding: 14px 0;
  font-size: 14px;
}
/* line 28, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul {
  margin: auto;
  width: 535px;
}
/* line 31, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container {
  padding-top: 20px;
}
/* line 33, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li {
  list-style: none;
  float: left;
  width: 88px;
  height: 96px;
}
/* line 38, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li:hover {
  cursor: pointer;
}
/* line 40, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image {
  padding: 0px 42px 60px 42px;
}
/* line 42, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house {
  margin-left: 4px;
  padding: 0px 40px 60px 40px;
  background: url(/../../generated/assets/mockup/icons-sprite.png) 5px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 46, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -77px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 48, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -159px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 50, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -241px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 52, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -323px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 54, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -405px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 56, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container {
  padding: 20px 0 0 0;
}
/* line 58, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li {
  list-style: none;
  float: left;
}
/* line 62, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form {
  width: 535px;
  padding: 10px 0 30px 0;
  margin: auto;
}
/* line 66, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form > input {
  float: right;
  padding: 10px 0px 32px 0px;
}
/* line 69, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form > div {
  width: 535px;
  height: 40px;
  padding: 8px 0px;
}
/* line 73, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form label {
  width: 400px;
  height: 30px;
  font-size: 16px;
  font-family: helvetica;
  padding: 0px 20px;
  margin-top: 18px;
  font-weight: bold;
}
/* line 81, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form div > input {
  width: 212px;
  height: 40px;
  float: right;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 20px;
  background: url(/../../generated/assets/mockup/address_form_input-bg.png) repeat-x;
  border: 1px solid #b1b1af;
  text-align: right;
  padding: 0px 8px;
  color: #cccccc;
}

/* line 6, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders {
  margin: 0px auto;
  min-height: 540px;
}
/* line 9, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > div.container {
  margin: auto;
  width: 800px;
}
/* line 12, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > div.overview.container {
  margin: auto;
  width: 820px;
}
/* line 15, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > div.header {
  margin-bottom: 20px;
}
/* line 17, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > ul.recentOrders {
  margin: auto;
  width: 805px;
  padding: 20px 20px;
}
/* line 21, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > ul.recentOrders > li {
  list-style: none;
  float: left;
  width: 267px;
  height: 326px;
}
/* line 19, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm {
  margin: 0px auto;
  min-height: 240px;
}
/* line 22, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.container {
  margin: auto;
  width: 535px;
}
/* line 25, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > div.overview.container {
  padding: 14px 0;
  font-size: 14px;
}
/* line 28, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul {
  margin: auto;
  width: 535px;
}
/* line 31, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container {
  padding-top: 20px;
}
/* line 33, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li {
  list-style: none;
  float: left;
  width: 88px;
  height: 96px;
}
/* line 38, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li:hover {
  cursor: pointer;
}
/* line 40, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image {
  padding: 0px 42px 60px 42px;
}
/* line 42, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house {
  margin-left: 4px;
  padding: 0px 40px 60px 40px;
  background: url(/../../generated/assets/mockup/icons-sprite.png) 5px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.house.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) 5px 0px no-repeat;
}
/* line 46, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -77px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.apartment.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -77px 0px no-repeat;
}
/* line 48, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -159px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.business.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -159px 0px no-repeat;
}
/* line 50, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -241px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.hotel.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -241px 0px no-repeat;
}
/* line 52, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -323px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.campus.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -323px 0px no-repeat;
}
/* line 54, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other {
  background: url(/../../generated/assets/mockup/icons-sprite.png) -405px 0px no-repeat;
}
/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other:hover {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 16, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.buildingIcons.container > li > a.image.other.selected {
  background: url(/../../generated/assets/mockup/icons-sprite-selected.png) -405px 0px no-repeat;
}
/* line 56, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container {
  padding: 20px 0 0 0;
}
/* line 58, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li {
  list-style: none;
  float: left;
}
/* line 62, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form {
  width: 535px;
  padding: 10px 0 30px 0;
  margin: auto;
}
/* line 66, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form > input {
  float: right;
  padding: 10px 0px 32px 0px;
}
/* line 69, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form > div {
  width: 535px;
  height: 40px;
  padding: 8px 0px;
}
/* line 73, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form label {
  width: 400px;
  height: 30px;
  font-size: 16px;
  font-family: helvetica;
  padding: 0px 20px;
  margin-top: 18px;
  font-weight: bold;
}
/* line 81, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_address_form.css.sass */
section#addressForm > ul.addressForms.container > li > form div > input {
  width: 212px;
  height: 40px;
  float: right;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 20px;
  background: url(/../../generated/assets/mockup/address_form_input-bg.png) repeat-x;
  border: 1px solid #b1b1af;
  text-align: right;
  padding: 0px 8px;
  color: #cccccc;
}
/* line 6, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders {
  margin: 0px auto;
  min-height: 540px;
}
/* line 9, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > div.container {
  margin: auto;
  width: 800px;
}
/* line 12, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > div.overview.container {
  margin: auto;
  width: 820px;
}
/* line 15, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > div.header {
  margin-bottom: 20px;
}
/* line 17, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > ul.recentOrders {
  margin: auto;
  width: 805px;
  padding: 20px 20px;
}
/* line 21, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_recent_orders.css.sass */
section#recentOrders > ul.recentOrders > li {
  list-style: none;
  float: left;
  width: 267px;
  height: 326px;
}
/* line 2, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#franchiseForm {
  margin: 0px auto;
}
/* line 4, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#franchiseForm > div.container {
  margin: auto;
  width: 500px;
}
/* line 7, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#franchiseForm > div.overview.container {
  margin: auto;
  width: 520px;
}

/* line 11, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector {
  margin: 0px auto;
  height: 700px;
}

/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantGallery {
  width: 68%;
  list-style: none;
  float: left;
}

/* line 18, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantGallery img {
  padding: 10px;
}

/* line 20, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantList {
  width: 68%;
  list-style: none;
  float: left;
}

/* line 24, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantList img {
  padding: 10px;
}

/* line 26, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantsArrow {
  width: 31%;
  list-style: none;
  float: left;
}

/* line 30, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantsArrow img {
  padding: 10px;
}

/* line 32, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantInfo {
  width: 31%;
  list-style: none;
  float: left;
}

/* line 36, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/_search_city_form.css.sass */
section#restaurantSelector li#restaurantInfo img {
  padding: 10px;
}
/* line 1, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut {
  padding: 10px;
  width: 1000px;
  background: white;
  border: 1px solid #29216d;
}

/* line 7, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut > a {
  left: 0px;
}

/* line 10, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut ul {
  padding: 10px 0;
  min-height: 90px;
}

/* line 14, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.topLeftSlideOut ul > li {
  list-style: none;
  margin: 0 0 0 10px;
  font-size: 13px;
}

/* line 19, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.bottomLeftSlideOut {
  padding: 20px;
  width: 130px;
  background: white;
  border: 1px solid #29216d;
}

/* line 25, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.bottomLeftSlideOut ul {
  padding: 10px 0;
}

/* line 28, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.bottomLeftSlideOut ul > li {
  list-style: none;
  font-size: 12px;
  margin: 0 0 0 6px;
}

/* line 33, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
div.bottomLeftSlideOut ul > li > div > a {
  float: right;
  font-size: 14px;
}

/* line 37, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
div.bottomLeftSlideOut ul > li > div {
  width: 100%;
  height: 14px;
}

/* line 41, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/guider.css.sass */
.clear {
  clear: both;
}
/* line 4, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section {
  width: 980px;
  margin: 20px auto;
}

/* line 9, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#addressForm, section#franchiseForm, section#recentOrders {
  margin: 0px auto;
  background: white;
  border: 1px #aeaeae solid;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 8px 1px #c4c4c4;
  -moz-box-shadow: 0px 0px 8px 1px #c4c4c4;
  box-shadow: 0px 0px 8px 1px #c4c4c4;
}

/* line 20, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#instructions {
  height: 250px;
}
/* line 23, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#instructions > ul > li {
  width: 100%;
  height: 250px;
}
/* line 26, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#instructions > ul > li > div.orderSteps.container {
  width: 820px;
  height: 220px;
  margin: auto;
  padding: 15px 0;
}

/* line 33, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#featured {
  height: 100px;
}
/* line 35, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#featured > div.container {
  margin: auto;
  width: 930px;
  padding: 0px 0;
  position: relative;
  top: -12px;
}

/* line 42, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company {
  height: 300px;
}
/* line 45, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company div.overview.container {
  padding: 14px 0;
  font-size: 14px;
}
/* line 49, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company div.promotion.container > img {
  position: relative;
  left: -40px;
}
/* line 52, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company div.companyStory.container {
  padding: 20px 20px;
  font-family: helvetica;
}
/* line 56, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company > ul > li:nth-child(1) {
  height: 300px;
  width: 45%;
  list-style: none;
  float: left;
  border-right: 1px solid #aeaeae;
}
/* line 62, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company > ul > li:nth-child(2) {
  width: 54%;
  list-style: none;
  float: left;
}
/* line 67, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company div.title.text {
  font-size: 24px;
  text-align: left;
  padding: 0 0 0 10px;
  font-weight: bold;
}
/* line 72, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#company div.content.text {
  font-size: 13px;
  padding: 10px 10px 0 10px;
}

/* line 76, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct {
  height: 200px;
  background: white url(/../../generated/assets/mockup/checker_bg.png);
}
/* line 80, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct > ul > li:nth-child(1) {
  width: 33%;
  list-style: none;
  float: left;
  border-right: 1px solid #aeaeae;
  padding: 21px 0;
}
/* line 86, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct > ul > li:nth-child(1) > div.searchCity > img {
  position: relative;
  left: -6px;
}
/* line 89, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct > ul > li:nth-child(2) {
  width: 33%;
  list-style: none;
  float: left;
  border-right: 1px solid #aeaeae;
  margin: 0 auto;
}
/* line 95, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct > ul > li:nth-child(2) img {
  margin: 6px 20px 0 30px;
}
/* line 97, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct > ul > li:nth-child(3) {
  width: 32%;
  list-style: none;
  float: left;
  border-right: 1px solid #aeaeae;
  padding: 17px 0 17px 4px;
}
/* line 103, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_front.css.sass */
section#newProduct > ul > li:nth-child(3) > div.newRestaurants > img {
  position: relative;
  left: 20px;
}
/* line 1, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body {
  background: #f9f0d4 url(/../../generated/assets/mockup/home_header-bg.png) repeat-x;
}
/* line 3, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header {
  width: 980px;
  height: 208px;
  margin: auto;
}
/* line 8, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li {
  height: 208px;
  border-right: 1px solid #aeaeae;
  list-style: none;
  float: left;
}
/* line 13, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(1) {
  width: 23.3%;
}
/* line 15, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(1) > img {
  margin-top: 20px;
}
/* line 17, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(2) {
  width: 53.2%;
}
/* line 19, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body > header > ul > li:nth-child(3) {
  width: 23.3%;
}
/* line 22, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body section > ul {
  border-bottom: 1px solid #aeaeae;
}
/* line 24, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
body section > ul > li {
  border-right: 1px solid #aeaeae;
  list-style: none;
  float: left;
}

/* line 28, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.userLinks {
  float: right;
  height: 30px;
  padding: 14px;
}

/* line 32, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
div.chatButton {
  float: right;
  top: 6px;
  right: 63px;
  position: relative;
  clear: both;
}

/* line 38, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.orderTabs {
  list-style: none;
  position: relative;
  clear: both;
  padding-top: 157px;
  margin: auto;
  width: 434px;
  height: 50px;
}
/* line 46, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.orderTabs > li {
  float: left;
  margin: 0px 2px;
}
/* line 47, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
ul.orderTabs > li:hover {
  cursor: pointer;
}

/* line 52, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
pre {
  font-family: Helvetica;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: o-pre-wrap;
}

/* line 57, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/r_header.css.sass */
.l-Scalar-Plain {
  color: #aeaeae;
}
/* line 3, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/test_shelf.css.sass */
div#testShelf ul > li {
  padding: 6px 0;
}
/* line 5, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/test_shelf.css.sass */
div#testShelf ul > li > div {
  text-align: right;
  font-size: 14px;
  color: blue;
  text-decoration: underline;
  padding: 2px 0;
}
/* line 11, /Users/jonmc12/Desktop/code/rds_browser/app/assets/stylesheets/home/test_shelf.css.sass */
div#testShelf ul > li > div:hover {
  cursor: pointer;
  background: #cccccc;
}
